* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Auralux;
  /* background-color: black; */
  color: #000000;
  overflow-x: hidden;
}
#nav {
  width: 100%;
  height: 100px;
  font-size: 30px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-color: rgba(73, 93, 139, 0.322);
  backdrop-filter: blur(20px);
  align-items: center;
}

#main {
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1548890126-91461beb4bf1?w=1000&auto=format&fit=nocrop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#menu {
  height: 100%;
  width: 30%;
  background-color: rgba(83, 123, 123, 0.313);
  position: absolute;
  top: 0%;
  right: -40%;
  padding: 44px;
  padding-top: 200px;
  line-height: 70px;
  font-size: x-large;
  backdrop-filter: blur(20px);
}

.ri-close-large-line {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 40px;
  padding: 4px 20px;
  font-weight: 800;
  background-color: rgba(240, 248, 255, 0.721);
  border-radius: 50%;
}
